<!DOCTYPE html>
<html>
<head>
  <title>Ttmm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container marketing">

  <div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">

      <%= render 'shared/header' %>

    </div>
    <!-- /.container -->
  </div>
<%= yield %>
</div>
</body>
</html>
