<div class="container-fluid">

  <h3>Events</h3>
  <div class="row-fluid">

<% if @events.blank? %>
        <div class="alert alert-info" role="alert">There is no pending events.</div>

<% else %>

    <table class="table table-striped custab table-bordered ">
      <thead>
      <tr>
        <th>Event type</th>
        <th>Date</th>
        <% %>
        <th>Total Users Attended</th>
        <th>Total Amount</th>
        <th>Amount Paid</th>
        <th>Location</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td><%= event.event_type.name %></td>
            <td><%= event.date.in_time_zone('Asia/Kolkata').strftime("%d %B %Y at %I:%M %p") %></td>
            <td><%= event.users.count %></td>
            <td><%= event.amount %></td>
            <td><% event.event_transactions.each do |et|  %>
                  <% if et.attended %>
                  <%= "#{et.user.email}:#{et.paid}" %><br/>
                  <% end %>
              <% end %>
            </td>
            <td><%= event.location %></td>
            <td><%= link_to 'Show', event %></td>

          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

    <div class="btn-group">
<%= link_to 'New Event', new_event_path, :class => "btn" %>

<%= link_to 'Settle Events', settle_events_path, :class => "btn" %>
</div>
</div></div>