
<div class="container-fluid">
  <div class="row-fluid">

  <% if @events.blank? %>
    <p>There is no events. </p>
<% else %>
        <h3>Setteled events</h3>
<table class="table table-striped custab table-bordered ">
  <thead>
  <tr>
    <th>Event type</th>
    <th>Date</th>
    <% %>
    <th>Total Users Attended</th>
    <th>Total Amount</th>
    <th>Amount Paid</th>
    <th>Location</th>
    <th></th>

  </tr>
  </thead>


  <% @events.each do |event| %>
      <tr>
        <td><%= event.event_type.name %></td>
        <td><%= event.date.in_time_zone('Asia/Kolkata').strftime("%d %B %Y at %I:%M %p") %></td>
        <td><%= event.users.count %></td>
        <td><%= event.amount %></td>
        <td><% event.event_transactions.each do |et|  %>
              <% if et.attended %>
                  <%= "#{et.user.email}:#{et.paid}" %><br/>
              <% end %>
          <% end %>
        </td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %>&nbsp;&nbsp;&nbsp;<%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>

</table>

<br>
<% end %>
<h3> Balance</h3> <h5> :Borrower has to give $:Amount to :Lender </h5>

<% if !@balance.blank? %>
    <%= render 'balance' %>
<% else %>
    <div><p>No pending Events.</p></div>
<% end %>

<%= link_to 'Events', events_path, :class => "btn" %>
    </div>
    </div>
